:root{
    --backgroundcolor:#0B0C10;
    --navbarhover:#C0C0C0;
    --navbartext:#45A29E;
    --headertext:#66FCF1;
    --textcolor:white;
}
div.aboutdescription{
    display:block;
    float:left;
}
img.about{
    float:left;
    border-radius:50%;
    height:auto;
    width:15%;
    margin-left: 20%;
    border: 5px solid var(--headertext);

}

p.aboutdescription{
    float:right;
    margin-right: 20%;
    color:var(--textcolor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 500px;
    line-height: 200%;
}

div.aboutfacts{
    float:left;
    clear:left;
    margin-left: 20%;
}

ul.aboutfacts{
    color:var(--textcolor);
    display:block;
    list-style-type: none;
    line-height: 200%;
}
strong.aboutfacts{
    color: var(--navbarhover);
}

div.about{

}

#about{
    background-color:var(--backgroundcolor);
    left:0;
}