:root{
    --headertext:#8ABAD3FF;
}

div.activities{
    float:left;
}

div.single{
    float:left;
    clear:left;
    display: inline;
}
img.icon{
    float:left;
    height:auto;
    width:10%;
    margin-left: 22%;
    border-right: 2px solid grey;
}

p.activitydescription{
    float:right;
    margin-right: 18%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 500px;
    line-height: 200%;
}

hr.break{
    width:0px;
}