
*{
    box-sizing: border-box;
}
:root{
    --backgroundcolor:#0B0C10;
    --navbarhover:#C0C0C0;
    --navbartext:#45A29E;
    --headertext:#66FCF1;
}
.parallax{
    background-image:url(../images/homepage_image.jpg);
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen{
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

body{
    /*background-color:var(--backgroundcolor);*/
    height:100%;
    margin-left:0;
    margin-right:0;
}

html{
    height:100%;
    scroll-behavior: smooth;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    background-color:var(--backgroundcolor);
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
}

li.navbar{
    display:inline;
}

li a {
    display:inline-block;
    color:var(--navbartext);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
  }
li a:hover{
    color:var(--navbarhover);
    border-radius:15px;
}

h1.header{
    font-weight: 700;
    color: var(--headertext);
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear:left;
    padding-top:60px;
}

hr.header{
    max-width: 900px;
}

