
:root{
    --backgroundcolor:black;
    --navbarhover: #8ABAD3FF;
    --navbartext:#FCF6F5FF;
    --headertext:#8ABAD3FF;
}
.parallax{
    background-image:url(../images/homepage_image.jpg);
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen{
    height: 100vh;
    box-sizing: border-box;
}

body{
    background-color:var(--backgroundcolor);
    height:100%;
}

html{
    height:100%;
    scroll-behavior: smooth;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    background-color:var(--backgroundcolor);
    text-align: center;
}

li.navbar{
    display:inline;
}

li a {
    display:inline-block;
    color:var(--navbartext);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
  }
li a:hover{
    background-color:var(--navbarhover);
    border-radius:15px;
}

h1.header{
    font-weight: 700;
    color: var(--headertext);
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear:left;
}
div.aboutdescription{
    display:block;
    float:left;
}
img.about{
    float:left;
    border-radius:50%;
    height:auto;
    width:15%;
    margin-left: 20%;
    border: 5px solid var(--headertext);

}

p.aboutdescription{
    float:right;
    margin-right: 20%;
    color: var(--navbartext);
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 500px;
    line-height: 200%;
}

div.aboutfacts{
    float:left;
    clear:left;
    margin-left: 20%;
}

ul.aboutfacts{
    color: var(--navbartext);
    display:block;
    list-style-type: none;
    line-height: 200%;
}
strong.aboutfacts{
    color: var(--navbarhover);
}

div.about{

}

hr.header{
    max-width: 900px;
}

